@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap');
/*
COLOR PALETTE
text white: #f5f5f5
slate blue bg: #1c3359
*/

body {
  background-color: #1c3359;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Home {
  color: #f5f5f5
}

.headerText {
  font-family: "Abril Fatface", serif;
}